@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic);
@import url(//fonts.googleapis.com/css?family=Kaushan+Script);
/*Body and background images*/
html,body {
    height:100%;
    min-height:100%;
    width:100%;
    background-color: #333;
    background-repeat: no-repeat;
    background-size: 100% auto;

}

b{
	display: block;
	text-align: center;
	height: 100%;
	padding-top: 0px;
	font-size: 40px;
	font: sans-serif;
}

div.span1{
	float:right;
	text-align: center;
	background-color:  #717171;
	margin: 0px;
    padding: 0px;
}

#background{
	background:url(../img/wood2.png) center top;
	background-size: 100% auto;
	padding: 0px;
	background-repeat: no-repeat;
}

#mainBody{
	position: relative;
	padding-left: 19%;
	text-align: center;
	color: white;
	padding-top: 20%;
	width:100%;
}

.textBox{
	position: relative;
	height: 50%;
	width: auto;
	text-align: center;
	word-wrap: break-word;
	color: white;
}

.logo,
.logo:hover,
.logo:link,
.logo:active,
.logo:visited{
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    padding-top: 0px;
    width: 220px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 500;
    height: 50px;
    display: block;
    color: white;
}

.textBox.gray{
	background-color: #717171;
}

.textBox.black{
	background-color: #333;
}

.textBoxText{
	padding-left: 5%;
	padding-right: 5%;
	position: center;
	text-align: center;
	margin-bottom: 0px;
}


.contactContainer{
	list-style: none;
	display: inline;
	padding: 0px;
}
.contactContainer li{
	padding-top: 5px;
	display: block;
}

.projectDesc{
	padding-left: 10%;
}

.contactInfo{
	padding:0px;
	color: black;
	width: 25%;
	height: 50px;
	text-align:left;
}

.contactMessage{
	color: black;
	width: 75%;
	resize: vertical;
	height: 150px;
	text-align:left;
	overflow: auto
}

a.btn
{
	color: white;
	background-color: #717171;
	border: none;
}

.col-xs-6{
	padding: 0px;
	padding-bottom: 10px;
}

a.btn:hover{
	color: #333;
	background-color: #717171;
	border: none;
}